body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;

    display: grid;
    place-items: center;
}

.is-art {
    font-size: 4rem;
}


.change-status {
    margin: 0 auto;
    display: block;
    font-size: 2rem;
    padding: .25em;
}

.info-container {
    max-width: 450px;
    font-size: 1.25rem;
    position: fixed;
    top: 1em;
    left: 1em;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.25rem;
    background: white;
    
}


.info-link {
    color: black;
}

.info {
    display: none;
    border-radius: .125em;
    border: 1px solid #444;
    padding: .5em;
}